/* CSS RESET */
* ,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR PALETTE:
    primary-color: #0084fd
    primary-color-light: #b5ddff
    secondary-color: #9792e4
    grey-text: #5f7486
    yellow-text: #fdc15f
    footer-background: #333333
*/

:root {
    --primaryColor: #0084fd;
    --primaryColorLight: #b5ddff;
    --secondaryColor: #9792e4;
    --mainSpacing: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

/* --- Approccio Mobile-First --- */
/* Regole Generali */
body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--primaryColor);
}

.container {
    max-width: 1140px;
    width: 85%;
    margin: 0 auto;

    /* temp */
    background-color: brown;
}

.col {
    width: 100%;
    /* height: 300px; */
    background-color: wheat;
}

.card {
    padding: var(--mainSpacing);
    /* border-radius: 5%; */
    border-radius: 20px;
}

.card > h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: var(--mainSpacing) 0;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.flexRowSB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.btn {
    display: inline-block;
    color: black;
    background-color: white;
    padding: 0.4em 0.8em;
    border-radius: 500px; /*for pill-shape*/
}

.btn:active {
    background-color: rgb(200, 200, 200);
}

a.largeBtn {
    padding: 0.6em 3em;
    font-size: 0.9rem;
}

a.circularBtn {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: black;
    background-color: var(--secondaryColor);
}

p {
    line-height: 1.6em;
}

h2 {
    font-size: 2rem;
}

/* Header */
body > header {
    width: 100vw;

    padding: 16px 0;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--primaryColor);
}

header .container {
    align-items: center;
}

header .container > button {
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    padding: 0.1em 0.5em;

    background: none;
    border: none;

    cursor: pointer;
}

header .container > nav {
    display: none;
}

header .container > nav ul {
    list-style: none;
    gap: 2rem;
}

header a{
    text-decoration: none;
    color: white;
}

header button:active i {
    color: rgb(200, 200, 200);
}

/* --- Main --- */
main {
    margin-top: 4.3rem;
}

/* --- Features Section --- */
#featuresSection {
    padding: 3rem 0;
}

#featuresSection .container {
    flex-wrap: wrap;
    gap: var(--mainSpacing);
}

#featuresSection .card {
    text-align: center;
    background-color: var(--primaryColorLight);
}

#featuresSection .card i {
    font-size: 4.5rem;
    color: var(--primaryColor);
}

#featuresSection .card h2 {
    color: var(--primaryColor);
}

#featuresSection .card p {
    font-size: 0.9rem;
    font-weight: 700;
    /* line-height: 1.6em; */
    color: rgb(81, 81, 81);
}

#featuresSection .largeCol {
    display: flex;
    flex-wrap: wrap;
    padding: 0;  /*rimuovo padding per poterlo applicare solo al textContainer*/
}

#featuresSection .largeCol > * {
    width: 100%;
}

#featuresSection .largeCol .textContainer {
    text-align: left;
    padding: var(--mainSpacing);
}

#featuresSection .largeCol .imgContainer {
    align-self: flex-end;
}

#featuresSection .largeCol .imgContainer img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

#featuresSection .largeCol .btn {
    text-decoration: none;
    font-weight: 700;

    margin-top: var(--mainSpacing);

    color: white;
    background-color: var(--primaryColor);
}

#featuresSection .largeCol .btn i {
    font-size: 1rem;
    margin-left: 5px;
    color: white;
}

/* --- Planning Section --- */
#planningSection {
    padding: 3rem 0;
    background-color: var(--secondaryColor);
}

#planningSection .container{
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mainSpacing);
}

#planningSection .col img {
    width: 100%;
}

#planningSection .col:first-child {
    color: white;
}

#planningSection .col:first-child h2 {
    margin: calc(var(--mainSpacing) * 2) 0;
}

#planningSection .card {
    text-align: center;
    background-color: white;
}

#planningSection .card p {
    font-style: italic;
    margin-bottom: var(--mainSpacing);
}






/* --- Testimonials Section --- */
#testimonialsSection .flexCol {
    gap: 1rem;
}

#testimonialsSection .col {
    width: 100%;
}

/* --- Benefits Section --- */
#benefitsSection .flexRow {
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* --- About Section --- */
#aboutSection .container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* --- Get Started Section --- */
#getStartedSection .placeholder {
    width: 100%;
    max-width: 440px;
}

/* --- Footer --- */
footer .placeholder {
    width: 100%;
    max-width: 440px;
}

/* temp */
section {
    /* height: 500px; */
    background-color: turquoise;
    margin-bottom: 10px;
}

.placeholder {
    background-color: purple;
    text-align: center;
    width: 50%;
    height: 20px;
    margin: 5px auto;
}






/* Visualizzazione Tablet */
@media screen and (min-width:480px) {
    .container {
        width: 90%;
    }

    header {
        color: red;
    }

    .col {
        width: calc((100% / 3) - 1rem);
    }

    .largeCol {
        width: calc((100% / 3) * 2 - 0.5rem);
    }







    #planningSection .col {
        width: 40%;
        background-color: teal;
    }

    #aboutSection .col:first-child {
        width: 55%;
    }
    
    #aboutSection .col:last-child {
        width: 35%;
    }




   
}

/* Visualizzazione Desktop */
@media screen and (min-width:768px) {
    .container {
        width: 90%;
    }

    header .container > button {
        display: none;
    }

    header .container > nav {
        display: inline-block;
    }

    #featuresSection > .container > .largeCol > .textContainer {
        width: 50%;
    }

    #featuresSection > .container > .largeCol > .imgContainer{
        width: 50%;
    }

}